/* styles/global.css */
@import "~@fontsource/darker-grotesque/index.css";

body {
  font-family: 'Darker Grotesque';
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content {
  flex-grow: 1;
}
