/* HomePage.module.css */
.container {
    display: flex;
    flex-direction: column;
}

.hotNotesContainer {
    text-align: center;
    padding:20px;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding:20px;
    justify-items: center;
}

.card {
    width: 240px;
    background-color: #E0DDC2; 
    border-radius: 0%;
    border-width: 0px;
    text-align: left;
}
.cardImage {
    padding:20px;
    height: auto; 
    align-self: center;
    object-fit: cover; 
}
.cardlinks{
    text-decoration: none; 
    color: black;
}
.cardlinks:hover{
    color: #FFFFFF;
}
