/* ProductPage.module.css */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productContainer{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.carouselContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.carousel {
  width: 30vw;
  height: 30vw;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.carousel_move{
  transform: translateX(-30%);
}

.buttonGroup {
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    width: 30%;
    gap: 20px;
}

.roundButton {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detail-column {
    flex-basis: 45%;
}

@keyframes rotate {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(180deg);
    }
  }
  
.rotate {
  animation: rotate 0.5s ease-out forwards;
}

.rotateBack {
  display: inline-block;
  animation: rotate 0.5s ease-out forwards;
}

.variantBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 30vw; /* 讓半圓形的高度是寬度的兩倍 */
  padding: 20px;
  background-color: transparent;
  border: #343a40 solid 1px;
  /* border-radius: 85% 0 0 85%; */
  border-radius: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
}

.show {
  transform: translateX(0);
  opacity: 1;
}

.buttonGroup .icon {
  display: inline-block;
  transition: transform 0.5s ease-in-out;
}

.buttonGroup .rotate {
  transform: rotate(180deg);
}

.rotateButton {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.box{
  display: flex;
  flex-direction: row;
}

.selector{
  background-color: #fff;
  border-radius: 0%;
  padding: 5px;
  margin: 5px;
}

.button{
  background-color: #343a40;
  border-color: transparent;
  border-radius: 0;
  padding: 5px;
  margin: 5px;
  width: 100%;
}